# Server
PORT=5050
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/eduflow

# JWT
JWT_SECRET="PleaseUseAStrongSecretKeyForJWT"
JWT_EXPIRE=700d
JWT_COOKIE_EXPIRE=7

# Cloudinary
CLOUDINARY_CLOUD_NAME=dnvi9zim7
CLOUDINARY_API_KEY=758496645159597
CLOUDINARY_API_SECRET=ABL_22jeTvSVcE_9KMctaYANBLQ
